* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
    padding: 38px 0 80px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    line-height: 32px;
    color: #000;
    
    text-transform: uppercase;
    font-family: "Roboto";
}

.logo span {
    font-weight: 900;
    color: #1abc9c;
}

.menu {
    display: flex;
    justify-content: space-between;
    
    width: 455px;
}

.menu__item_link {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.menu__item_link:hover {
    color: #1abc9c;
}

/* SECTION PRODUCTS */

.products {
    margin-top: 105px;
}

.title {
    font-size: 48px;
    color: #515151;
    font-weight: 900;
    font-family: "Roboto";
    text-align: center;
}

.green_line {
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 35px auto 90px auto;

}

.products__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__card {
    width: 255px;
    margin-bottom: 30px;
}

.products__card_footer:hover .products__card_name {
    background-color: #1abc9c;
}

.products__card_footer:hover .product__card_price {
    background-color: #1abc9c;
}

.products__card:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.products__card_img {
    display: block;
    max-width: 100%;
    height: 280px;
    object-fit: cover;
}

.products__card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__card_name {
    width: 255px;
    height: 40px;
    padding-left: 14px;
    background-color: #323232;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Roboto";
    text-transform: uppercase;
}

.product__card_price {
    width: 54px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    opacity: 0.5;
    background-color: #323232;
    color: #fff;
    font-weight: 900;
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
}

/* SECTIOM NEWS */

.news__title {
    margin-top: 105px;
}

.news__posts {
    display: flex;
    justify-content: space-between;
}

.news__post {
    width: 350px;
}

.news__post_img {
    display: block;
    max-width: 100%;
    height: 260px;
    object-fit: cover;
}

.news__post_subtitle {
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    font-weight: 600;
    font-family: "Open Sans";
}

.green_line.smoll {
    width: 136px;
    height: 3px;
    margin: 15px 0 30px 0;
    
}

.news__post_text {
    font-size: 14px;
    line-height: 26px;
    color: #555252;
    font-weight: 400;
    font-family: "Open Sans";
}

.news__post_btn {
    font-size: 16px;
    line-height: 51px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
    width: 159px;
    height: 51px;
    border-radius: 3px;
    background-color: #4ec6ab;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}